<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Kiềm Đẹp Trai</b>
    </div>
    <strong>Ý tưởng thuộc về <a href="https://www.facebook.com/trinhngockiem98">Nhóm 9 - CNTT3 - K11 - HaUI</a>.</strong>
</footer>