{% extends '/admin/admin.html.twig' %}

{% block title %}Quản trị Website{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <h1>Hello {{ name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="#">src/Controller/AdminController.php</a></code></li>
            <li>Your template at <code><a href="#">templates/admin/index.html.twig</a></code></li>
        </ul>
    </div>
</section>
{% endblock %}