{% extends '/admin/admin.html.twig' %}

{% block title %}Thêm mới loại sách{% endblock %}

{% block content %}
<section class="content-header">
    <h1>
        Thêm mới loại sách
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fas fa-tachometer-alt"></i>Home</a></li>
        <li><a href="#">Loại sách</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <form role="form" action="{{ path('category-store') }}" method="POST">
            <input type="hidden" name="token" value="{{ csrf_token('insert-category') }}"/>
            <div class="col-xs-12 col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Nội dung</h3>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên loại sách</label>
                            <input type="text" class="form-control" name="category_name" placeholder="Tên loại sách" required>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</section>
{% endblock %}

